*{
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: rgb(6, 6, 97);
}

/*---------------------------------------------------------------*/

.main-container .header-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, .9);
    min-height:60px;
}

.header-container .open-nav-container .nav{
    display: block;
    position: absolute;
    top: 9.2%;
    left: 0;
    width: 89%;
    padding: 0 20px;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 450ms ease-in-out;
    background-color: rgba(255,255,255, .9);
    z-index: 1;
}

.open-nav-container .nav > .list-container_nav{
    list-style-type: none;
    font-size: 24px;
}

.list-container_nav > li{
    margin: 40px 0;
}

.list-container_nav > li > a{
    color: black;
    text-decoration: none;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.header-container .logo-container{
    font-size: 30px;
}

.logo-container > *{
    position: relative;
    top: 14px;
}

.logo-container > a{
    color: black;
    text-decoration: none;
}

.header-container .open-nav-container > *{
    position: relative;
    top: 28px;
}

.open-nav-container .check-nav-inp{
    display: none;
}

.open-nav-container .check-nav-toggle > span,
.open-nav-container .check-nav-toggle > span::before,
.open-nav-container .check-nav-toggle > span::after{
    display: block;
    height: 8px;
    width: 40px;
    background-color: black;
    border-radius: 20px;
}

.open-nav-container .check-nav-toggle > span::before,
.open-nav-container .check-nav-toggle > span::after{
    content: '';
    position: absolute;
}

.open-nav-container .check-nav-toggle > span::before{ 
    top: -14px;
}

.open-nav-container .check-nav-toggle > span::after{
    top: 14px;
}

.check-nav-inp:checked ~ .nav{
    transform: scale(1,1);
}

.check-nav-inp:checked ~ .nav .list-container_nav > li > a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/*---------------------------------------------------------------*/

.main-container .body-container{
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.body-container .title-container,
.body-container .content-container{
    display: flex;
}

.body-container .title-container{
    flex-basis: 20%;
}

.title-container .elements-container{
    display: inline;
    margin: auto;
    font-size: 40px;
    color: white;
}

.body-container .content-container{
    flex-basis: 80%;
}

.content-container .timer-container{
    margin: auto;
    width: 80vw;
    background-color: white;
    border-radius: 40px;
    padding: 20px;
}

.timer-container .days-timer,
.timer-container .hours-timer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 20px 0;
}

.days-timer > *,
.hours-timer > *{
    font-size: 25px;
    text-align: center;
}

.hours-timer .separator > *{
    position: relative;
    top: -2px;
    font-size: 45px;
}

@media screen and (orientation: landscape) and (max-height: 450px){
    .main-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:60px 1fr;
    }

    .header-container .open-nav-container .nav{
        top: 60px;
        height: 83.2vh;
    }
}

@media screen and (min-width: 800px){
    .header-container .open-nav-container .check-nav-toggle{
        display: none;
    }

    .header-container .open-nav-container{
        display: flex;
    }

    .header-container .open-nav-container .nav{
        all: unset;
        display: block;
        margin: auto;
    }

    .open-nav-container .nav > .list-container_nav{
        text-align: center;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .list-container_nav > li{
        margin: 0;
    }

    .list-container_nav > li > a{
        all: unset;
        cursor: pointer;
    }
    .list-container_nav > li::after{
        display: block;
        margin: 0;
        content: '';
        height: 4px;
        width: 100%;
        background-color: black;
        border-radius: 20px;
        transform: scale(0,1);
        transition: transform 250ms ease-in-out;
    }

    .list-container_nav > li:hover::after{
        transform: scale(1,1);
    }

    .header-container .logo-container > *{
        top: 13px;
    }

    .body-container .content-container .timer-container{
        width: 500px;
        font-size: 40px;
    }
}