body {
  background: linear-gradient(
    45deg,
    #4bc8eb,
    #4b78eb,
    #6e4beb,
    #be4beb,
    #eb4bc8,
    #eb4b78,
    #eb6e4b
  );
  background-size: 500%;

  animation: bg 10s ease-in-out infinite alternate;
}

@keyframes bg {
  from {
    background-position: top left;
  }

  to {
    background-position: bottom right;
  }
}
